body{
    background: linear-gradient(to bottom right, blue, pink);
}
p{
    color:floralwhite;
    text-align:center;
}
h1{
    color:aliceblue
}
label{
    color:red
}
button{
    background: linear-gradient(red,white)
}
a{
    color:firebrick
}

